.footerCol {
  font-size: 20px;
  font-weight: 500;
}

.footerCol2 {
  padding-left: 60px;
}

.footerLogo {
  width: 150px;
  margin-bottom: 10px;
}

.newsletterFields{
  background: transparent;
  border: 1px solid #979494;
  padding: 2px;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  width: 40%;
}

.container {
  max-width: 85% !IMPORTANT;
  margin: 0 auto;
}

.btnNews {
  background: #ff7043;
  color: #fff;
  padding: 9px 20px;
  border: 0px solid #ff7043;
  margin-left: 207px;
  min-height: 43px;
  border-radius: 0 6px 6px 0;
}

.footerBottomBar {
  border-top: 1px solid #e0d7d5;
  padding-top: 20px;
  margin-top: 30px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCopyright {
  padding-bottom: 10px;
}

.socialListing {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.borderIcon {
  padding: 2px 11px;
  margin-right: 50px;
  background-color: whitesmoke;
}


.background {
  background: #fff3f0;
}
